mixin catalogs()
    section.catalogs
          .catalogs__item
            .catalogs__item--main Каталог
            .catalogs__item--title Делаем мешки на совесть
            .catalogs__item--description По каждой позиции каталога вы можете заказать образец, чтобы проверить качество товара перед оптовой покупкой. Все подробности уточняйте у менеджеров компании.                       
          .catalogs__bags.bags-item
            .catalogs__bags.bags-item__block
                img(src="../static/img/content/bag1.png")
            .catalogs__bags.bags-item__block
                img(src="../static/img/content/bag2.png")
            .catalogs__bags.bags-item__block
                img(src="../static/img/content/bag3.png")