header.header
  .containerr
    .logo
        img(src="static/img/content/icons/logo.svg").logo__icon

    button.header__hamburger
        span
        span
        span

    nav.nav.header__menu
        ul.header__list
            li
              a(href="#" class="header__link") О компании
            li
              a(href="#" class="header__link") Каталог
            li
              a(href="#" class="header__link") Производство
            li
              a(href="#" class="header__link") Печать логотипов
            li
              a(href="#" class="header__link") Доставка и оплата
            li
              a(href="#" class="header__link") Контакты

        .info
            .info__item
                .info__icon
                    img(src="static/img/content/icons/tel-icons.svg").info__icon--svg

                .info__number +7 (928) 36-55-547
            .info__item
                .info__icon
                    img(src="static/img/content/icons/tel-icons.svg").info__icon--svg

                .info__number +7 (928) 36-55-547

        //- a.nav__item О компании
        //- a.nav__item Каталог
        //- a.nav__item Производство
        //- a.nav__item Печать логотипов
        //- a.nav__item Доставка и оплата
        //- a.nav__item Контакты
    