mixin services()
    section.services
      .container
        .services__container
          .services__delivery
            .services__delivery-car
                +icon('delivery-truck')
            .catalogs__item#ci
              .catalogs__item--main.cm доставка
              .catalogs__item--title.ct Быстрая доставка не заставит долго ждать
              .catalogs__item--description#cd Мы предлагаем бесплатную доставку* продукции по г.Краснодару. Действует самовывоз, при желании вы можете самостоятельно забрать свой заказ со склада. При самовывозе заказа вы экономите на курьерской доставке.<br/>*Бесплатная доставка возможна при объеме не более 2м3 и весе не более 200 кг.

          .services__pay 
            .services__pay-money
                +icon('group-pay')
            .catalogs__item#ci
              .catalogs__item--main.cm Оплата
              .catalogs__item--title.ct Оплатите удобным способом
              .catalogs__item--description#cd Мы предлагаем бесплатную доставку* продукции по г.Краснодару. Действует самовывоз, при желании вы можете самостоятельно забрать свой заказ со склада. При самовывозе заказа вы экономите на курьерской доставке.<br/>*Бесплатная доставка возможна при объеме не более 2м3 и весе не более 200 кг.
