mixin productinfo()
    section.productinfo
      .container
          .productinfo__container
            .productinfo__about
              .catalogs__item#ab
                  .catalogs__item--main.am Печать логотипов
                  .catalogs__item--title.at Нанесение многоцветных логотипов и изображений
                  .catalogs__item--description#ad Наше оборудование позволяет оперативно наносить многоцветные изображения по Вашему желанию.  <br/>Вы просто предоставляете макет, а мы отдаем Вам готовый продукт в кратчайшие сроки. Использование логотипа и дополнительной информации на упаковки — это доступное и крайне важное конкурентное преимущество для любого бизнеса.
            .productinfo-slide-container
                .productinfo__slide
                    //.magic-container
                    //    button 13
                    //    button 23
                    .button-container.button-slider-container
                        button.button.magic-slide-prev
                            +icon('arrow-left')
                        button.button.magic-slide-next
                            +icon('arrow-right')
                    .productinfo__slide--items
                      .productinfo__slide--items-item
                        img(src="../static/img/content/slides/Lam0.jpg")
                      .productinfo__slide--items-item
                        img(src="../static/img/content/slides/Lam1.jpg")
                      .productinfo__slide--items-item
                        img(src="../static/img/content/slides/Lam2.jpg")
                      .productinfo__slide--items-item
                        img(src="../static/img/content/slides/Lam3.jpg")
                      .productinfo__slide--items-item
                        img(src="../static/img/content/slides/Lam4.jpg")
                      .productinfo__slide--items-item
                        img(src="../static/img/content/slides/Lam5.jpg")
