mixin production()
    section.production
      .catalogs__item#pr
            .catalogs__item--main.pm Производство
            .catalogs__item--title.pt Современное оборудование и материалы
            .catalogs__item--description#pd Для организации производства полипропиленовых и бумажных мешков различного ассортимента было закуплено современное оборудование, и была организована собственная производственная линия, позволяющая производить весь ассортимент полипропиленовых мешков стандартных размеров и плотности из полипропиленовой ткани высокой прочности.     
