mixin propilbags()
    section.propilbags
        .container
            .propilbags__title Полипропиленовые мешки
            .propilbags__info
                table.bags__table(border="0" cellspacing="0")
                    tr.bags__main
                        td.bags__main--th Ширина, см
                        td.bags__main--th Высота, см
                        td.bags__main--th Макс. вес груза, кг
                        td.bags__main--th Примечание
                    tr.bags__inner
                        td.bags__inner--td 56
                        td.bags__inner--td 105
                        td.bags__inner--td 50 кг
                        td.bags__inner--td Для муки, крупы
                    tr.bags__inner
                        td.bags__inner--td 50
                        td.bags__inner--td 82
                        td.bags__inner--td 25 кг
                        td.bags__inner--td Для муки, крупы
                    tr.bags__inner
                        td.bags__inner--td 46
                        td.bags__inner--td 77
                        td.bags__inner--td 25 кг
                        td.bags__inner--td Для риса
                    tr.bags__inner
                        td.bags__inner--td 41
                        td.bags__inner--td 52
                        td.bags__inner--td 10 кг
                        td.bags__inner--td Возможна ручка
                    tr.bags__inner
                        td.bags__inner--td 30
                        td.bags__inner--td 51
                        td.bags__inner--td 5 кг
                        td.bags__inner--td Возможна ручка