include ../helpers/mixins

block variables

doctype
html
  head
    meta(charset="UTF-8")
    meta(name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
    meta(http-equiv="X-UA-Compatible" content="ie=edge")
    link(href="static/css/styles.css" rel="stylesheet")
    link(href="static/css/sprite.css" rel="stylesheet")
    link(rel="preconnect" href="https://fonts.googleapis.com")
    link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
    link(href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&family=Roboto:wght@400;500&display=swap" rel="stylesheet")
    title #{title}
  body
    .wrapper
      include ../modules/header/header
      
      .content
         
        block content
        
      include ../modules/footer/footer

    script(src="static/js/form.js")
    script(src="static/js/main.js")
    script(src="static/js/burger.min.js")
    script(src="static/js/slideshow.js")    
    script(src="static/js/slide.min.js")
    script(src="static/js/header.min.js")
    script(src="static/js/zoom.effect.js")    



    
    block script
