mixin cartonbags()
    section.cartonbags
      .cartonbags__item
          .cartonbags__item__title Бумажные мешки
          .cartonbags__item__describtion Мешок может быть открытого типа и закрытого с клапаном, 2-х или 3-х слойный с плёнкой. Плотность 60-80 г/м².
          .cartonbags__item__table
            table.bags__table(border="0" cellspacing="0")
              tr.bags__main
                td.bags__main--th Ширина, см
                td.bags__main--th Высота, см
              tr.bags__inner
                td.bags__inner--td 36
                td.bags__inner--td На усмотрение заказчика
              tr.bags__inner
                td.bags__inner--td 49,5
                td.bags__inner--td На усмотрение заказчика
              tr.bags__inner
                td.bags__inner--td 54,5
                td.bags__inner--td На усмотрение заказчика